// header
.auth-header {
  ion-toolbar {
    --background: #f1c232;
    --color: #111;
    --box-shadow: none;
    min-height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-title {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
  }
}

// line
.auth-header::after {
  display: none;
}

//page
.forgot-page {
  --background: #f4f5f7;
}

.forgot-wrapper {
  max-width: 390px;
  margin: 0 auto;
  padding: 16px;
}

// text
.desc {
  font-size: 14px;
  font-weight: 500;
  color: #111;
  margin: 12px 0 20px;
}

// input 
.input {
  padding: 8px 0 10px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e5e7eb;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    background: transparent;
    color: #111;

    &::placeholder {
      color: #9ca3af;
    }
  }
}

// button
.primary-btn {
  width: 100%;
  height: 44px;
  border: none;
  border-radius: 999px; 
  background: #2563eb;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 12px;
}
