<ion-header class="auth-header">
  <ion-toolbar>
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Lấy lại mật khẩu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-page">
  <div class="forgot-wrapper">

    <p class="desc">
      Vui lòng nhập các thông tin sau:
    </p>


    <div class="input">
      <input
        type="text"
        placeholder="Số điện thoại hoặc Email"
      />
    </div>

    
    <button class="primary-btn">
      Xác nhận
    </button>

  </div>
</ion-content>
